PORT=8124
INTERCOM_PORT=8125
API_KEY=CHANGE_THIS_TO_A_LONG_RANDOM_KEY
DEFAULT_CAMERA=gate
TTS_GAIN_DB=4
TTS_VOICE=vi-VN-HoaiMyNeural
CAMERAS_JSON={"gate":{"vendors":"ezviz","ip":"192.168.31.59","user":"admin","password":"CHANGE_ME","ptz":true},"yard":{"vendors":"imou","ip":"192.168.31.60","user":"admin","password":"CHANGE_ME"}}
